.titulo-listar-productos{
    max-width: 400px;
    margin: auto;
    color: black;
    font-weight: bold;
}

.datos-agregar-editar{
    max-width: 400px;
    margin: auto;
}

.botones-agregar-editar{
    text-align: center; 
    margin-top: 16px;
}

.datos-eliminar{
    max-width: 400px; 
    margin: 40px auto 16px auto;
}

.boton-eliminar{
    text-align: center;
}