<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulo-listar-productos">
      Agregar Productos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list class="datos-agregar">
    <ion-item>
      <ion-label position="floating">Nombre del producto</ion-label>
      <ion-input type="text" required [(ngModel)]="nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-input type="text" required [(ngModel)]="descripcion"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Marca</ion-label>
      <ion-input type="text" required [(ngModel)]="marca"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Codigo de Barra</ion-label>
      <ion-input type="text" required [(ngModel)]="codigo_barra"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Etiquetas (separadas por coma)</ion-label>
      <ion-input type="text" [(ngModel)]="etiquetas_input"></ion-input>
    </ion-item>

  </ion-list>


  <div class="botones-cancelar-agregar">
    <ion-button color="medium" (click)="cancelar()">Cancelar</ion-button>
    <ion-button color="primary" (click)="agregarProducto()">Agregar</ion-button>
  </div>

</ion-content>