<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulo-listar-productos">
      Listar Productos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">listar-productos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list class="datos-agregar-editar">
  <ion-item>
    <ion-label position="floating">ID del producto</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Nombre del producto</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Precio</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Stock</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>
</ion-list>

<div class="botones-agregar-editar">
  <ion-button>
    Agregar producto
  </ion-button>
  <ion-button>
    Editar producto
  </ion-button>
</div>

<ion-list class="datos-eliminar">
  <ion-item>
    <ion-label position="floating">ID del producto</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Nombre del producto</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
</ion-list>

<div class="boton-eliminar">
  <ion-button color="danger">
    Eliminar producto
  </ion-button>
</div>


</ion-content>