.titulo-listar-productos{
    max-width: 400px;
    margin: auto;
    color: black;
    font-weight: bold;
}

.datos-agregar{
    max-width: 400px;
    margin: auto;
}

.botones-agregar{
    text-align: center; 
}

