<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>agregarBodega</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label position="floating">Nombre de la bodega</ion-label>
          <ion-input type="text" required [(ngModel)]="nombreBodega"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Dirección de la bodega</ion-label>
          <ion-input type="text" required [(ngModel)]="direccionBodega"></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <div>
    <ion-button color="medium" (click)="cancelar()">Cancelar</ion-button>
    <ion-button color="primary" (click)="agregarBodega()">Agregar</ion-button>
  </div>
</ion-content>