<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulo-editar-productos">
      Editar Productos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-list class="datos-editar">
  <ion-item>
    <ion-label position="floating">Codigo de Barra</ion-label>
    <ion-input [(ngModel)]="codigo_barra" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Nombre del producto</ion-label>
    <ion-input [(ngModel)]="nombre" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Descripcion</ion-label>
    <ion-input [(ngModel)]="descripcion" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Ultimo Precio</ion-label>
    <ion-input [(ngModel)]="ultimo_precio" type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Elegir Bodega</ion-label>
      <ion-select [(ngModel)]="nueva_bodega_elegida" interface="action-sheet">
        <ion-select-option *ngFor="let bodega of bodegas" [value]="bodega.id">
          {{ bodega.nombreBodega }}
        </ion-select-option>
    </ion-select>
  </ion-item>

  </ion-list>

  <div class="botones-cancelar-editar">
    <ion-button color="medium" (click)="cancelar()">
      Cancelar
    </ion-button>
    <ion-button color="primary" (click)="editarProducto()">
      Editar
    </ion-button>
  </div>

</ion-content>
