
.titulo-editar-productos{
    max-width: 400px;
    margin: auto;
    color: black;
    font-weight: bold;
}

.datos-editar{
    max-width: 400px;
    margin: auto;
}

.botones-cancelar-editar{
    text-align: center; 
    margin-top: 16px;
}
