
.titulo-editar-productos{
    max-width: 400px;
    margin: auto;
    color: black;
    font-weight: bold;
}

.datos-editar{
    max-width: 400px;
    margin: auto;
}

.boton-editar{
    text-align: center; 
}
