<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulo-editar-productos">
      Editar Productos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-list class="datos-editar">
  <ion-item>
    <ion-label position="floating">ID del producto</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Nombre del producto</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Precio</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Stock</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>
</ion-list>

  <div class="botones-cancelar-editar">
    <ion-button>
    Cancelar
    </ion-button>
    <ion-button>
    Editar
    </ion-button>
  </div>

</ion-content>
