<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list *ngIf="!loading && lowStockAlerts.length > 0">
    <ion-item *ngFor="let alert of lowStockAlerts">
      <ion-label>
        <h2>{{ alert.nombre || alert.id }}</h2>
        <p>Bodega: {{ alert.nombre_bodega }} | Total: {{ alert.total }} | Mínimo: {{ alert.stock_min }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <p *ngIf="!loading && lowStockAlerts.length === 0">No hay alertas de stock bajo.</p>
  <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
</ion-content>